<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    
     <!-- <context-param>
         <param-name>quartz:config-file</param-name>
         <param-value>quartz.prop</param-value>
     </context-param>-->
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>false</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-scheduler-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
    
    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>

  <display-name>DiplomaCY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/usersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chatServlet</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chatServlet</servlet-name>
    <url-pattern>/chatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myServletName</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.examples.ServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myServletName</servlet-name>
    <url-pattern>/ServletOneUrlPattern</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>voteCounter</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.examples.VoteCounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>voteCounter</servlet-name>
    <url-pattern>/VoteCounter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>moves</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.MovesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moves</servlet-name>
    <url-pattern>/moves</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>game</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>game</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>runManager</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.RunManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>runManager</servlet-name>
    <url-pattern>/RunManager</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>gameCreationServlet</servlet-name>
    <servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.GameCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gameCreationServlet</servlet-name>
    <url-pattern>/gameCreation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>echo</servlet-name>
  	<servlet-class>edu.iastate.cs309.r16.diplomacy.servlets.Echo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>echo</servlet-name>
  	<url-pattern>/Echo</url-pattern>
  </servlet-mapping>
</web-app>